[submodule "libultraship"]
	path = libultraship
	url = https://github.com/Mickemoose/libultraship.git
	branch = stage-hooks-and-more
[submodule "torch"]
	path = torch
	url = https://github.com/JRickey/Torch.git
	branch = ssb64
[submodule "decomp"]
	path = decomp
	url = https://github.com/Mickemoose/ssb-decomp-re.git
	branch = stage-hooks-and-more
